# Week 1

### The problem:
Pete lives in Chicago, Illinois. He has an extra bedroom in his home that he decides to rent out on AirBNB for extra income. The problem is that Pete has no idea how much to charge per night. If he charges too much people would rather live in more affordable spaces. If he charges too little he may be missing out on profits or giving potential visitors the idea that there's something wrong with the place, causing it to be cheap.

### The Solution:
We can use the data provided by AirBNB and Foursquare to predict the best pricing for Pete's guest room based on his location. All AirBNB data is available on [insideairbnb](http://insideairbnb.com/).
The data for Chicago can be downloaded from [here](http://data.insideairbnb.com/united-states/il/chicago/2021-07-10/visualisations/listings.csv)

### The Dataset:

First, we install the necessary libraries:

In [6]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

Then load the data into a DataFrame:

In [7]:
df = pd.read_csv('http://data.insideairbnb.com/united-states/il/chicago/2021-07-10/visualisations/listings.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,85,1,185,2021-06-21,2.45,1,338
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,65,2,401,2021-05-22,3.32,1,59
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,143,4,28,2021-06-21,0.32,10,102
3,12068,Chicago GOLD COAST 1 Bedroom Condo,40731,Dominic,NaN,Near North Side,41.90491,-87.63213,Entire home/apt,99,7,11,2021-05-09,0.14,1,242
4,12140,Lincoln Park Guest House,46734,Sharon And Robert,NaN,Lincoln Park,41.92357,-87.64947,Private room,329,2,7,2021-07-06,0.10,1,165

In [8]:
print(df['neighbourhood_group'])

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
6361   NaN
6362   NaN
6363   NaN
6364   NaN
6365   NaN
Name: neighbourhood_group, Length: 6366, dtype: float64

We see that the entire neigbourhood_group column consists of 'NaN' , so we can delete that column.

In [9]:
df.drop('neighbourhood_group', inplace=True, axis=1)
df.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,Hyde Park,41.78790,-87.58780,Private room,85,1,185,2021-06-21,2.45,1,338
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,West Town,41.90166,-87.68021,Entire home/apt,65,2,401,2021-05-22,3.32,1,59
2,10945,The Biddle House (#1),33004,At Home Inn,Lincoln Park,41.91196,-87.63981,Entire home/apt,143,4,28,2021-06-21,0.32,10,102
3,12068,Chicago GOLD COAST 1 Bedroom Condo,40731,Dominic,Near North Side,41.90491,-87.63213,Entire home/apt,99,7,11,2021-05-09,0.14,1,242
4,12140,Lincoln Park Guest House,46734,Sharon And Robert,Lincoln Park,41.92357,-87.64947,Private room,329,2,7,2021-07-06,0.10,1,165